@import "mixins";
@import "variables";

html, body, #main {
  @include full-screen-absolute();
  font-family: 'Arvo', serif;
  background-color: white;
  min-width: 1000px;
}

code {
  font-size: 16px;
}

.input-error-highlight {
  border: 2px solid $error-color1 !important;
}

.left {
    float: left;
}

.right {
    float: right;
}
