html, body, #main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0; }

.input-error-highlight {
  border: 2px solid red !important; }

.left {
  float: left; }

.right {
  float: right; }
